In [7]:
import pandas as pd
import numpy as np

In [8]:
# Importing Data
judge_df = pd.read_csv("D:/Virtual_Environments_Folder/data/basketball/judge.csv")
stanton_df = pd.read_csv("D:/Virtual_Environments_Folder/data/basketball/stanton.csv")

In [ ]:
judge_df.head()

In [10]:
judge_df.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'pos2_person_id', 'umpire',
       'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pos1_person_id',
       'pos2_person_id.1', 'pos3_person_id', 'pos4_person_id',
       'pos5_person_id', 'pos6_person_id', 'pos7_person_id', 'pos8_person_id',
       'pos9_person_id', 'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number',
       'pitch_number'],
      dtype='object')

In [11]:
judge_df.shape

(3436, 78)

In [12]:
judge_df.describe()

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
count,3395.000000,3395.000000,3395.000000,3436.0,3436.000000,0.0,0.0,0.0,0.0,3395.000000,...,3395.000000,3436.000000,3436.000000,773.000000,773.0,773.000000,773.000000,679.000000,3436.000000,3436.000000
mean,88.689543,-0.932161,5.913723,592450.0,534602.221478,NaN,NaN,NaN,NaN,10.163476,...,54.510724,0.048696,0.066563,0.419534,1.0,0.146184,0.258732,3.372607,38.343423,3.085565
std,6.022328,1.869564,0.545856,0.0,73147.090850,NaN,NaN,NaN,NaN,4.025781,...,0.522216,0.177841,0.270434,0.595612,0.0,0.353519,0.796896,1.458740,23.238769,1.736235
min,64.400000,-4.652500,3.329400,592450.0,112526.000000,NaN,NaN,NaN,NaN,1.000000,...,52.354000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,1.000000,2.000000,1.000000
25%,84.500000,-2.251450,5.630800,592450.0,489119.000000,NaN,NaN,NaN,NaN,7.000000,...,54.176050,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,2.000000,20.000000,2.000000
50%,89.500000,-1.527100,5.981500,592450.0,542882.000000,NaN,NaN,NaN,NaN,12.000000,...,54.516600,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,3.000000,38.000000,3.000000
75%,93.500000,-0.173600,6.272700,592450.0,593679.000000,NaN,NaN,NaN,NaN,14.000000,...,54.856600,0.000000,0.000000,0.700000,1.0,0.000000,0.000000,4.000000,58.000000,4.000000
max,102.200000,4.790700,7.401600,592450.0,664641.000000,NaN,NaN,NaN,NaN,14.000000,...,56.301000,0.996000,1.975000,2.000000,1.0,1.000000,3.000000,6.000000,122.000000,10.000000

In [13]:
judge_df.describe(include="float64")

,release_speed,release_pos_x,release_pos_z,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,hit_location,pfx_x,...,pos8_person_id,pos9_person_id,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle
count,3395.000000,3395.000000,3395.000000,0.0,0.0,0.0,0.0,3395.000000,216.000000,3395.000000,...,3199.000000,3199.000000,3395.000000,3436.000000,3436.000000,773.000000,773.0,773.000000,773.000000,679.000000
mean,88.689543,-0.932161,5.913723,NaN,NaN,NaN,NaN,10.163476,6.166667,-0.217605,...,543085.761801,524016.143482,54.510724,0.048696,0.066563,0.419534,1.0,0.146184,0.258732,3.372607
std,6.022328,1.869564,0.545856,NaN,NaN,NaN,NaN,4.025781,2.070838,0.863508,...,73035.273411,70435.498930,0.522216,0.177841,0.270434,0.595612,0.0,0.353519,0.796896,1.458740
min,64.400000,-4.652500,3.329400,NaN,NaN,NaN,NaN,1.000000,1.000000,-2.322900,...,425834.000000,136860.000000,52.354000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,1.000000
25%,84.500000,-2.251450,5.630800,NaN,NaN,NaN,NaN,7.000000,5.000000,-0.960400,...,457727.000000,452234.000000,54.176050,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,2.000000
50%,89.500000,-1.527100,5.981500,NaN,NaN,NaN,NaN,12.000000,6.000000,-0.239942,...,571771.000000,519306.000000,54.516600,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,3.000000
75%,93.500000,-0.173600,6.272700,NaN,NaN,NaN,NaN,14.000000,8.000000,0.451021,...,598265.000000,594777.000000,54.856600,0.000000,0.000000,0.700000,1.0,0.000000,0.000000,4.000000
max,102.200000,4.790700,7.401600,NaN,NaN,NaN,NaN,14.000000,9.000000,2.102500,...,669720.000000,669720.000000,56.301000,0.996000,1.975000,2.000000,1.0,1.000000,3.000000,6.000000

In [61]:
judge_df.describe(include="int64")

,batter,pitcher,balls,strikes,game_year,outs_when_up,inning,game_pk,at_bat_number,pitch_number
count,3436.0,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000,3436.000000
mean,592450.0,534602.221478,1.057916,0.923166,2016.881257,1.034051,4.894645,486278.726717,38.343423,3.085565
std,0.0,73147.090850,1.041424,0.826370,0.323533,0.790227,2.700254,13769.953357,23.238769,1.736235
min,592450.0,112526.000000,0.000000,0.000000,2016.000000,0.000000,1.000000,448611.000000,2.000000,1.000000
25%,592450.0,489119.000000,0.000000,0.000000,2017.000000,0.000000,3.000000,490500.000000,20.000000,2.000000
50%,592450.0,542882.000000,1.000000,1.000000,2017.000000,1.000000,5.000000,491163.000000,38.000000,3.000000
75%,592450.0,593679.000000,2.000000,2.000000,2017.000000,2.000000,7.000000,491820.000000,58.000000,4.000000
max,592450.0,664641.000000,3.000000,2.000000,2017.000000,2.000000,16.000000,492513.000000,122.000000,10.000000

In [62]:
judge_df.describe(include="all")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
count,3396,3436,3395.000000,3395.000000,3395.000000,3436,3436.0,3436.000000,773,3436,...,3395.000000,3436.000000,3436.000000,773.000000,773.0,773.000000,773.000000,679.000000,3436.000000,3436.000000
unique,10,178,NaN,NaN,NaN,1,NaN,NaN,15,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FF,2017-05-14,NaN,NaN,NaN,Aaron Judge,NaN,NaN,strikeout,ball,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1166,45,NaN,NaN,NaN,3436,NaN,NaN,249,1320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,88.689543,-0.932161,5.913723,NaN,592450.0,534602.221478,NaN,NaN,...,54.510724,0.048696,0.066563,0.419534,1.0,0.146184,0.258732,3.372607,38.343423,3.085565
std,NaN,NaN,6.022328,1.869564,0.545856,NaN,0.0,73147.090850,NaN,NaN,...,0.522216,0.177841,0.270434,0.595612,0.0,0.353519,0.796896,1.458740,23.238769,1.736235
min,NaN,NaN,64.400000,-4.652500,3.329400,NaN,592450.0,112526.000000,NaN,NaN,...,52.354000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,1.000000,2.000000,1.000000
25%,NaN,NaN,84.500000,-2.251450,5.630800,NaN,592450.0,489119.000000,NaN,NaN,...,54.176050,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,2.000000,20.000000,2.000000
50%,NaN,NaN,89.500000,-1.527100,5.981500,NaN,592450.0,542882.000000,NaN,NaN,...,54.516600,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,3.000000,38.000000,3.000000
75%,NaN,NaN,93.500000,-0.173600,6.272700,NaN,592450.0,593679.000000,NaN,NaN,...,54.856600,0.000000,0.000000,0.700000,1.0,0.000000,0.000000,4.000000,58.000000,4.000000
max,NaN,NaN,102.200000,4.790700,7.401600,NaN,592450.0,664641.000000,NaN,NaN,...,56.301000,0.996000,1.975000,2.000000,1.0,1.000000,3.000000,6.000000,122.000000,10.000000

In [14]:
type(judge_df.dtypes)

pandas.core.series.Series

In [ ]:
# counting the number of column for different types
judge_df.info()

In [17]:
judge_df.dtypes.value_counts()

float64    53
object     15
int64      10
Name: count, dtype: int64

In [ ]:
type_of_data_judge = judge_df.dtypes
type_of_data_judge.groupby(type_of_data_judge).size()

In [27]:
judge_df["umpire"].isnull().sum()

3436

In [43]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])

In [ ]:
for label, content in df.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

In [ ]:
# Initialize an empty list to store results
result1_data = []

# Iterate over columns using iteritems
for column_name, column_data in judge_df.items():
    # Count missing values in each column
    missing_values = column_data.isna().sum()
    
    # Append results to the list
    result1_data.append({'Column': column_name, 'Total Missing Values': missing_values})

# Create a new DataFrame from the results
result1_df = pd.DataFrame(result1_data)

# Display the result DataFrame
print(result1_df)

In [ ]:
# Creating a data frame to find the total missing values in each columns
# initialize an empty list
result_data2 = pd.DataFrame()
result_data2["Col_Name"]=judge_df.columns
missing_values_list = []
for column in judge_df.columns:
    # Count missing values in each column
    missing_values = judge_df[column].isna().sum()
    missing_values_list.append(missing_values)

result_data2["Total_Missing_Values"] = missing_values_list
# Display the result DataFrame
print(result_data2)

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
a.append(b)
a

In [ ]:
a+b

In [65]:
judge_df.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'pos2_person_id', 'umpire',
       'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pos1_person_id',
       'pos2_person_id.1', 'pos3_person_id', 'pos4_person_id',
       'pos5_person_id', 'pos6_person_id', 'pos7_person_id', 'pos8_person_id',
       'pos9_person_id', 'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number',
       'pitch_number'],
      dtype='object')

In [68]:
# sorting multiple fields
judge_df.loc[:,["pitch_type","release_speed","release_pos_x","vx0"]].\
    sort_values(by=["release_speed","release_pos_x"],ascending=[True,False])

     pitch_type  release_speed  release_pos_x     vx0
373          CU           64.4        -2.7579  4.7368
1714         CU           65.0        -2.2193  2.2203
371          CU           65.0        -2.7867  1.6071
375          CU           65.0        -2.8303  1.5273
370          CU           65.1        -3.1212  5.6435
...         ...            ...            ...     ...
2903        NaN            NaN            NaN     NaN
2904        NaN            NaN            NaN     NaN
2905        NaN            NaN            NaN     NaN
2906        NaN            NaN            NaN     NaN
3006        NaN            NaN            NaN     NaN

[3436 rows x 4 columns]

In [69]:
# selecting only columns with name release
judge_df.filter(like="release")

,release_speed,release_pos_x,release_pos_z,release_spin_rate,release_extension,release_pos_y
0,95.7,-2.3581,5.9240,2270.0,6.485,54.0129
1,96.3,-2.5577,5.9023,2252.0,6.386,54.1114
2,95.2,-2.3861,5.8346,2291.0,6.469,54.0285
3,93.4,4.2502,4.6506,2175.0,5.767,54.7309
4,92.8,4.1144,4.4696,2171.0,5.975,54.5228
...,...,...,...,...,...,...
3431,85.6,-1.9659,5.9113,1552.0,5.683,54.8144
3432,87.6,-1.9318,5.9349,1947.0,5.691,54.8064
3433,87.2,-2.0285,5.8656,1761.0,5.721,54.7770
3434,79.7,-1.7108,6.1926,2640.0,5.022,55.4756
3435,93.2,-1.8476,6.0063,2271.0,6.068,54.4299

In [88]:
# selecting only columns with column names starting with pitch and release in its name
# step1: The process follows with starting from inside, whether matches found or not
judge_df.columns.str.contains("release") | judge_df.columns.str.contains("pitch")

array([ True, False,  True,  True,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True])

In [ ]:
# only the names of columns where it is true
judge_df.columns[judge_df.columns.str.contains("release") | judge_df.columns.str.contains("pitch")]

In [87]:
# constructing the dataframe
judge_df[judge_df.columns[judge_df.columns.str.contains("release") | judge_df.columns.str.contains("pitch")]]

Index(['pitch_type', 'release_speed', 'release_pos_x', 'release_pos_z',
       'pitcher', 'release_spin_rate', 'release_extension', 'release_pos_y',
       'pitch_number'],
      dtype='object')

In [91]:
# # selecting only columns with column names starting with pitch and release and containing woba in its name
judge_df.columns.str.contains("release")|judge_df.columns.str.contains("pitch")|judge_df.columns.str.contains("woba")

array([ True, False,  True,  True,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True,  True,
        True, False, False, False, False,  True])

In [92]:
judge_df.columns[judge_df.columns.str.contains("release")|judge_df.columns.str.contains("pitch")|judge_df.columns.str.contains("woba")]

Index(['pitch_type', 'release_speed', 'release_pos_x', 'release_pos_z',
       'pitcher', 'release_spin_rate', 'release_extension', 'release_pos_y',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'pitch_number'],
      dtype='object')

In [99]:
# Selecting only those columns which are ending with id
judge_df.columns[judge_df.columns.str.endswith("id")]

Index(['pos2_person_id', 'sv_id', 'pos1_person_id', 'pos3_person_id',
       'pos4_person_id', 'pos5_person_id', 'pos6_person_id', 'pos7_person_id',
       'pos8_person_id', 'pos9_person_id'],
      dtype='object')

In [101]:
# Selecting only those columns which are ending with id using regular expression
import re
pattern = "id$"
judge_df.columns[judge_df.columns.str.contains(pattern,regex=True)]

Index(['pos2_person_id', 'sv_id', 'pos1_person_id', 'pos3_person_id',
       'pos4_person_id', 'pos5_person_id', 'pos6_person_id', 'pos7_person_id',
       'pos8_person_id', 'pos9_person_id'],
      dtype='object')

In [103]:
judge_df.columns[judge_df.columns.str.contains("^pos",regex=True)]

Index(['pos2_person_id', 'pos1_person_id', 'pos2_person_id.1',
       'pos3_person_id', 'pos4_person_id', 'pos5_person_id', 'pos6_person_id',
       'pos7_person_id', 'pos8_person_id', 'pos9_person_id'],
      dtype='object')

In [105]:
# Using replace to replace strings in columns
judge_df.columns.str.replace("^pos","position",regex=True)

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'position2_person_id',
       'umpire', 'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top',
       'sz_bot', 'hit_distance_sc', 'launch_speed', 'launch_angle',
       'effective_speed', 'release_spin_rate', 'release_extension', 'game_pk',
       'position1_person_id', 'position2_person_id.1', 'position3_person_id',
       'position4_person_id', 'position5_person_id', 'position6_person_id',
       'position7_person_id', 'position8_person_id', 'position9_person_id',
       'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number',
       'pitch_number'],
      dtype='object')

In [107]:
# Query command to filter rows in the data ('' IS A MUST)
judge_df.query("pitch_type in ['FF','FT','CH','FC']")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3430,FF,2016-08-13,91.6,-1.7857,5.9579,Aaron Judge,592450,542882,NaN,ball,...,54.2530,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,2
3431,CH,2016-08-13,85.6,-1.9659,5.9113,Aaron Judge,592450,542882,NaN,ball,...,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,1
3432,CH,2016-08-13,87.6,-1.9318,5.9349,Aaron Judge,592450,542882,home_run,hit_into_play_score,...,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0,14,4
3433,CH,2016-08-13,87.2,-2.0285,5.8656,Aaron Judge,592450,542882,NaN,ball,...,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,3
3435,FF,2016-08-13,93.2,-1.8476,6.0063,Aaron Judge,592450,542882,NaN,called_strike,...,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,1

In [115]:
# representation of na inside the query method
judge_df.query("pitch_type in ['FF','FT','CH','FC'] & on_1b.isna()").loc[:,["pitch_type","on_1b"]]

     pitch_type  on_1b
0            FF    NaN
1            FF    NaN
2            FF    NaN
8            FT    NaN
9            FT    NaN
...         ...    ...
3430         FF    NaN
3431         CH    NaN
3432         CH    NaN
3433         CH    NaN
3435         FF    NaN

[1460 rows x 2 columns]

In [135]:
judge_df.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'pos2_person_id', 'umpire',
       'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pos1_person_id',
       'pos2_person_id.1', 'pos3_person_id', 'pos4_person_id',
       'pos5_person_id', 'pos6_person_id', 'pos7_person_id', 'pos8_person_id',
       'pos9_person_id', 'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number',
       'pitch_number'],
      dtype='object')

In [148]:
# How to query a variable with missing values to find a pattern
# judge_df.query("des.str.contains('Aeron')") # this will give error ValueError: cannot mask with array containing NA/NaN values
# #to filter out the pattern we need to filter out missing values
# 
judge_df.query("des.str.contains('Aaron',regex=True,na=False)")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.000,0.000,0.0,1.0,0.0,0.0,NaN,53,3
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.000,0.000,0.7,1.0,0.0,0.0,NaN,36,5
8,FT,2017-09-30,93.1,-1.4675,5.3552,Aaron Judge,592450,573186,home_run,hit_into_play_score,...,54.4579,0.983,1.951,2.0,1.0,0.0,3.0,6.0,23,3
11,SL,2017-09-30,87.7,-1.7543,5.3426,Aaron Judge,592450,573186,strikeout,swinging_strike,...,54.9029,0.000,0.000,0.0,1.0,0.0,0.0,NaN,5,4
15,SL,2017-09-29,87.7,2.6875,6.0648,Aaron Judge,592450,641835,strikeout,swinging_strike,...,53.9086,0.000,0.000,0.0,1.0,0.0,0.0,NaN,57,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3409,FT,2016-08-14,92.6,-0.8636,6.3847,Aaron Judge,592450,543606,home_run,hit_into_play_score,...,54.6724,0.669,0.982,2.0,1.0,0.0,3.0,5.0,20,6
3415,FF,2016-08-13,94.2,-2.3328,6.0023,Aaron Judge,592450,543144,strikeout,called_strike,...,54.0637,0.000,0.000,0.0,1.0,0.0,0.0,NaN,64,5
3420,FT,2016-08-13,92.5,-1.7775,5.4235,Aaron Judge,592450,541640,field_out,hit_into_play,...,54.1231,0.029,0.032,0.0,1.0,0.0,0.0,3.0,49,6
3426,CH,2016-08-13,86.5,-1.9626,5.9110,Aaron Judge,592450,542882,single,hit_into_play_no_out,...,54.7968,0.402,0.378,0.9,1.0,1.0,0.0,2.0,36,6
3432,CH,2016-08-13,87.6,-1.9318,5.9349,Aaron Judge,592450,542882,home_run,hit_into_play_score,...,54.8064,0.980,1.937,2.0,1.0,0.0,3.0,6.0,14,4

In [150]:
# The above code can also be done with
judge_df['des'].fillna('', inplace=True)  # Fill with empty strings
filtered_df = judge_df.query("des.str.contains('Aaron', regex=True)")

In [142]:
# query string variable where certain strings are there , This code ran as there were no missing values in description
# within quotes we can write basic pandas syntaxes
judge_df.query("description.str.contains('strike')")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.0,0.0,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,1
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.0,0.0,NaN,NaN,NaN,NaN,NaN,36,4
11,SL,2017-09-30,87.7,-1.7543,5.3426,Aaron Judge,592450,573186,strikeout,swinging_strike,...,54.9029,0.0,0.0,0.0,1.0,0.0,0.0,NaN,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3418,CU,2016-08-13,77.1,-2.5778,6.1275,Aaron Judge,592450,543144,NaN,called_strike,...,54.9115,0.0,0.0,NaN,NaN,NaN,NaN,NaN,64,2
3425,CH,2016-08-13,83.1,-1.6517,5.5613,Aaron Judge,592450,541640,NaN,swinging_strike,...,53.9332,0.0,0.0,NaN,NaN,NaN,NaN,1.0,49,1
3428,CH,2016-08-13,85.9,-1.8708,5.8927,Aaron Judge,592450,542882,NaN,called_strike,...,54.5732,0.0,0.0,NaN,NaN,NaN,NaN,NaN,36,4
3429,SL,2016-08-13,85.0,-1.7434,6.2153,Aaron Judge,592450,542882,NaN,called_strike,...,54.8307,0.0,0.0,NaN,NaN,NaN,NaN,NaN,36,3
3435,FF,2016-08-13,93.2,-1.8476,6.0063,Aaron Judge,592450,542882,NaN,called_strike,...,54.4299,0.0,0.0,NaN,NaN,NaN,NaN,NaN,14,1

In [154]:
# finding multiple pattern (fillna first else the code wont run)
pattern = ['Umpire','Zach Britton','Tony Zych', 'Taylor Rogers', 'Rick Porcello']
judge_df.query("des.str.contains('|'.join(@pattern))")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
238,NaN,2017-09-17,NaN,NaN,NaN,Aaron Judge,592450,502154,intent_walk,automatic_ball,...,NaN,0.000,0.000,0.7,1.0,0.0,0.0,NaN,75,4
1178,NaN,2017-07-23,NaN,NaN,NaN,Aaron Judge,592450,543964,intent_walk,automatic_ball,...,NaN,0.000,0.000,0.7,1.0,0.0,0.0,NaN,51,4
1285,NaN,2017-07-17,NaN,NaN,NaN,Aaron Judge,592450,573124,intent_walk,automatic_ball,...,NaN,0.000,0.000,0.7,1.0,0.0,0.0,NaN,59,4
2034,NaN,2017-06-07,NaN,NaN,NaN,Aaron Judge,592450,519144,intent_walk,automatic_ball,...,NaN,0.000,0.000,0.7,1.0,0.0,0.0,NaN,24,4
2882,CU,2017-04-16,77.3,-1.3506,6.395,Aaron Judge,592450,425794,triple,hit_into_play_score,...,54.3422,0.724,1.307,1.6,1.0,1.0,2.0,6.0,17,4

In [155]:
# filtering numerical value
judge_df.query("vy0 < 0")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,CH,2016-08-13,85.6,-1.9659,5.9113,Aaron Judge,592450,542882,NaN,ball,...,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,1
3432,CH,2016-08-13,87.6,-1.9318,5.9349,Aaron Judge,592450,542882,home_run,hit_into_play_score,...,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0,14,4
3433,CH,2016-08-13,87.2,-2.0285,5.8656,Aaron Judge,592450,542882,NaN,ball,...,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,3
3434,CU,2016-08-13,79.7,-1.7108,6.1926,Aaron Judge,592450,542882,NaN,foul,...,55.4756,0.00,0.000,NaN,NaN,NaN,NaN,1.0,14,2
3435,FF,2016-08-13,93.2,-1.8476,6.0063,Aaron Judge,592450,542882,NaN,called_strike,...,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,1

In [157]:
# filtering numbers between some range
judge_df.query("4<=release_pos_z<=5")

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.000,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,4
5,CH,2017-09-30,80.8,4.4560,4.2604,Aaron Judge,592450,571901,NaN,ball,...,54.4862,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,3
6,FC,2017-09-30,85.1,4.4341,4.5876,Aaron Judge,592450,571901,NaN,ball,...,54.5177,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,2
7,FT,2017-09-30,93.3,4.3098,4.6001,Aaron Judge,592450,571901,NaN,ball,...,54.4962,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,FF,2017-04-09,94.6,-3.3637,4.8951,Aaron Judge,592450,571710,NaN,ball,...,54.4749,0.000,0.000,NaN,NaN,NaN,NaN,NaN,65,2
2953,FF,2017-04-09,93.8,-3.2135,4.7109,Aaron Judge,592450,571710,NaN,called_strike,...,54.5720,0.000,0.000,NaN,NaN,NaN,NaN,NaN,65,1
3200,SL,2016-08-30,78.7,-4.2969,4.5980,Aaron Judge,592450,493247,field_out,hit_into_play,...,55.4048,0.104,0.194,0.0,1.0,0.0,0.0,3.0,63,3
3201,CH,2016-08-30,81.1,-4.5787,4.1861,Aaron Judge,592450,493247,NaN,swinging_strike,...,55.3171,0.000,0.000,NaN,NaN,NaN,NaN,NaN,63,2
3202,SI,2016-08-30,91.0,-4.5922,4.4905,Aaron Judge,592450,493247,NaN,called_strike,...,55.2850,0.000,0.000,NaN,NaN,NaN,NaN,NaN,63,1

In [159]:
# use of between
judge_df[judge_df["release_pos_z"].between(4,5)]

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.000,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,4
5,CH,2017-09-30,80.8,4.4560,4.2604,Aaron Judge,592450,571901,NaN,ball,...,54.4862,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,3
6,FC,2017-09-30,85.1,4.4341,4.5876,Aaron Judge,592450,571901,NaN,ball,...,54.5177,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,2
7,FT,2017-09-30,93.3,4.3098,4.6001,Aaron Judge,592450,571901,NaN,ball,...,54.4962,0.000,0.000,NaN,NaN,NaN,NaN,NaN,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,FF,2017-04-09,94.6,-3.3637,4.8951,Aaron Judge,592450,571710,NaN,ball,...,54.4749,0.000,0.000,NaN,NaN,NaN,NaN,NaN,65,2
2953,FF,2017-04-09,93.8,-3.2135,4.7109,Aaron Judge,592450,571710,NaN,called_strike,...,54.5720,0.000,0.000,NaN,NaN,NaN,NaN,NaN,65,1
3200,SL,2016-08-30,78.7,-4.2969,4.5980,Aaron Judge,592450,493247,field_out,hit_into_play,...,55.4048,0.104,0.194,0.0,1.0,0.0,0.0,3.0,63,3
3201,CH,2016-08-30,81.1,-4.5787,4.1861,Aaron Judge,592450,493247,NaN,swinging_strike,...,55.3171,0.000,0.000,NaN,NaN,NaN,NaN,NaN,63,2
3202,SI,2016-08-30,91.0,-4.5922,4.4905,Aaron Judge,592450,493247,NaN,called_strike,...,55.2850,0.000,0.000,NaN,NaN,NaN,NaN,NaN,63,1

In [163]:
# filtering not missing values in one column and filtering based on something on string 
judge_df.query("~des.isna() & plate_x > 1")[["des","plate_x"]]

                                             des  plate_x
0            Aaron Judge strikes out swinging.     1.0150
3     Aaron Judge walks.   Aaron Hicks to 2nd.     1.5161
5                                                  2.1445
6                                                  1.4978
10                                                 1.3994
...                                          ...      ...
3376                                               1.3900
3378                                               2.0800
3389                                               1.1440
3411                                               1.3650
3430                                               1.1420

[674 rows x 2 columns]

In [165]:
# working with missing value, fillna, dropna, isna, isnull,ffill,bfill drop column etc
judge_df[['on_1b']].fillna("")

         on_1b
0
1
2
3     543305.0
4     543305.0
...        ...
3431
3432
3433
3434
3435

[3436 rows x 1 columns]

In [166]:
# filling missing values for multiple columns
judge_df[["hc_x","hc_y"]].fillna("")

        hc_x   hc_y
0
1
2
3
4
...      ...    ...
3431
3432  130.45  14.58
3433
3434
3435

[3436 rows x 2 columns]

In [169]:
# selecting only int64 column, float64 column and object type column
judge_df.select_dtypes(include='int64')

,batter,pitcher,balls,strikes,game_year,outs_when_up,inning,game_pk,at_bat_number,pitch_number
0,592450,608678,0,2,2017,1,7,492513,53,3
1,592450,608678,0,1,2017,1,7,492513,53,2
2,592450,608678,0,0,2017,1,7,492513,53,1
3,592450,571901,3,1,2017,1,5,492513,36,5
4,592450,571901,3,0,2017,1,5,492513,36,4
...,...,...,...,...,...,...,...,...,...,...
3431,592450,542882,0,0,2016,0,5,448611,36,1
3432,592450,542882,1,2,2016,2,2,448611,14,4
3433,592450,542882,0,2,2016,2,2,448611,14,3
3434,592450,542882,0,1,2016,2,2,448611,14,2
3435,592450,542882,0,0,2016,2,2,448611,14,1

In [170]:
judge_df.select_dtypes(include='float64')

,release_speed,release_pos_x,release_pos_z,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,hit_location,pfx_x,...,pos8_person_id,pos9_person_id,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle
0,95.7,-2.3581,5.9240,NaN,NaN,NaN,NaN,14.0,NaN,-0.735000,...,606192.0,430832.0,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN
1,96.3,-2.5577,5.9023,NaN,NaN,NaN,NaN,9.0,NaN,-0.743400,...,606192.0,430832.0,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN
2,95.2,-2.3861,5.8346,NaN,NaN,NaN,NaN,2.0,NaN,-1.219100,...,606192.0,430832.0,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN
3,93.4,4.2502,4.6506,NaN,NaN,NaN,NaN,14.0,NaN,1.755200,...,606192.0,430832.0,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN
4,92.8,4.1144,4.4696,NaN,NaN,NaN,NaN,14.0,NaN,1.412300,...,606192.0,430832.0,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,85.6,-1.9659,5.9113,NaN,NaN,NaN,NaN,14.0,NaN,-0.379108,...,595281.0,543484.0,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN
3432,87.6,-1.9318,5.9349,NaN,NaN,NaN,NaN,4.0,NaN,-0.295608,...,595281.0,543484.0,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0
3433,87.2,-2.0285,5.8656,NaN,NaN,NaN,NaN,14.0,NaN,-0.668575,...,595281.0,543484.0,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN
3434,79.7,-1.7108,6.1926,NaN,NaN,NaN,NaN,4.0,NaN,0.397442,...,595281.0,543484.0,55.4756,0.00,0.000,NaN,NaN,NaN,NaN,1.0
3435,93.2,-1.8476,6.0063,NaN,NaN,NaN,NaN,8.0,NaN,-0.823050,...,595281.0,543484.0,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN

In [171]:
judge_df.select_dtypes(include='object')

,pitch_type,game_date,player_name,events,description,des,game_type,stand,p_throws,home_team,away_team,type,bb_type,inning_topbot,sv_id
0,FF,2017-09-30,Aaron Judge,strikeout,swinging_strike,Aaron Judge strikes out swinging.,R,R,R,NYY,TOR,S,NaN,Bot,170930_192117
1,FF,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TOR,S,NaN,Bot,170930_192050
2,FF,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TOR,S,NaN,Bot,170930_192030
3,FT,2017-09-30,Aaron Judge,walk,ball,Aaron Judge walks. Aaron Hicks to 2nd.,R,R,L,NYY,TOR,B,NaN,Bot,170930_183328
4,FT,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,L,NYY,TOR,S,NaN,Bot,170930_183309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,CH,2016-08-13,Aaron Judge,NaN,ball,,R,R,R,NYY,TB,B,NaN,Bot,160813_144259
3432,CH,2016-08-13,Aaron Judge,home_run,hit_into_play_score,Aaron Judge homers (1) on a fly ball to center...,R,R,R,NYY,TB,X,fly_ball,Bot,160813_135833
3433,CH,2016-08-13,Aaron Judge,NaN,ball,,R,R,R,NYY,TB,B,NaN,Bot,160813_135815
3434,CU,2016-08-13,Aaron Judge,NaN,foul,,R,R,R,NYY,TB,S,NaN,Bot,160813_135752
3435,FF,2016-08-13,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TB,S,NaN,Bot,160813_135736

In [172]:
# select int64 and float64 columns
judge_df.select_dtypes(include=["int64","float64"])

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,95.7,-2.3581,5.9240,592450,608678,NaN,NaN,NaN,NaN,14.0,...,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN,53,3
1,96.3,-2.5577,5.9023,592450,608678,NaN,NaN,NaN,NaN,9.0,...,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,2
2,95.2,-2.3861,5.8346,592450,608678,NaN,NaN,NaN,NaN,2.0,...,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,1
3,93.4,4.2502,4.6506,592450,571901,NaN,NaN,NaN,NaN,14.0,...,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,92.8,4.1144,4.4696,592450,571901,NaN,NaN,NaN,NaN,14.0,...,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,85.6,-1.9659,5.9113,592450,542882,NaN,NaN,NaN,NaN,14.0,...,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,1
3432,87.6,-1.9318,5.9349,592450,542882,NaN,NaN,NaN,NaN,4.0,...,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0,14,4
3433,87.2,-2.0285,5.8656,592450,542882,NaN,NaN,NaN,NaN,14.0,...,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,3
3434,79.7,-1.7108,6.1926,592450,542882,NaN,NaN,NaN,NaN,4.0,...,55.4756,0.00,0.000,NaN,NaN,NaN,NaN,1.0,14,2
3435,93.2,-1.8476,6.0063,592450,542882,NaN,NaN,NaN,NaN,8.0,...,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,1

In [174]:
# Not select int and float data
judge_df.select_dtypes(exclude=["int64","float64"])

,pitch_type,game_date,player_name,events,description,des,game_type,stand,p_throws,home_team,away_team,type,bb_type,inning_topbot,sv_id
0,FF,2017-09-30,Aaron Judge,strikeout,swinging_strike,Aaron Judge strikes out swinging.,R,R,R,NYY,TOR,S,NaN,Bot,170930_192117
1,FF,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TOR,S,NaN,Bot,170930_192050
2,FF,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TOR,S,NaN,Bot,170930_192030
3,FT,2017-09-30,Aaron Judge,walk,ball,Aaron Judge walks. Aaron Hicks to 2nd.,R,R,L,NYY,TOR,B,NaN,Bot,170930_183328
4,FT,2017-09-30,Aaron Judge,NaN,called_strike,,R,R,L,NYY,TOR,S,NaN,Bot,170930_183309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,CH,2016-08-13,Aaron Judge,NaN,ball,,R,R,R,NYY,TB,B,NaN,Bot,160813_144259
3432,CH,2016-08-13,Aaron Judge,home_run,hit_into_play_score,Aaron Judge homers (1) on a fly ball to center...,R,R,R,NYY,TB,X,fly_ball,Bot,160813_135833
3433,CH,2016-08-13,Aaron Judge,NaN,ball,,R,R,R,NYY,TB,B,NaN,Bot,160813_135815
3434,CU,2016-08-13,Aaron Judge,NaN,foul,,R,R,R,NYY,TB,S,NaN,Bot,160813_135752
3435,FF,2016-08-13,Aaron Judge,NaN,called_strike,,R,R,R,NYY,TB,S,NaN,Bot,160813_135736

In [175]:
# combination of filtering columns and querying
judge_df.filter(["pitch_type","release_pos_x"]).query('release_pos_x >= 0')

     pitch_type  release_pos_x
3            FT         4.2502
4            FT         4.1144
5            CH         4.4560
6            FC         4.4341
7            FT         4.3098
...         ...            ...
3363         FF         2.3531
3364         FF         2.4492
3365         FF         2.4151
3366         FF         2.4333
3367         SL         2.6871

[825 rows x 2 columns]

In [182]:
# the reverse of this as below
judge_df.loc[:,["pitch_type","release_pos_x"]].query('~(release_pos_x >= 0)').sort_values(["pitch_type","release_pos_x"], ascending=[True,False])

     pitch_type  release_pos_x
2867         CH        -0.0996
2866         CH        -0.1000
2865         CH        -0.2709
2869         CH        -0.2990
3066         CH        -0.4187
...         ...            ...
2903        NaN            NaN
2904        NaN            NaN
2905        NaN            NaN
2906        NaN            NaN
3006        NaN            NaN

[2611 rows x 2 columns]

In [183]:
# dropna, ffill, bfill, counting isna, drop_duplicates
judge_df.filter(["on_2b"]).dropna()

         on_2b
0     543305.0
1     543305.0
2     543305.0
20    543305.0
21    543305.0
...        ...
3397  435263.0
3398  435263.0
3399  435263.0
3400  435263.0
3401  435263.0

[661 rows x 1 columns]

In [184]:
# dropna for multiple columns
judge_df.filter(["on_1b","on_2b","on_3b"]).dropna()

         on_1b     on_2b     on_3b
89    543305.0  591720.0  640449.0
90    543305.0  591720.0  640449.0
91    543305.0  591720.0  640449.0
92    543305.0  591720.0  640449.0
180   458731.0  595885.0  453056.0
...        ...       ...       ...
3251  516770.0  544369.0  407893.0
3252  516770.0  544369.0  407893.0
3253  516770.0  544369.0  407893.0
3254  516770.0  544369.0  407893.0
3255  516770.0  544369.0  407893.0

[68 rows x 3 columns]

In [185]:
# dropping duplicate rows
judge_df.drop_duplicates()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,CH,2016-08-13,85.6,-1.9659,5.9113,Aaron Judge,592450,542882,NaN,ball,...,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,1
3432,CH,2016-08-13,87.6,-1.9318,5.9349,Aaron Judge,592450,542882,home_run,hit_into_play_score,...,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0,14,4
3433,CH,2016-08-13,87.2,-2.0285,5.8656,Aaron Judge,592450,542882,NaN,ball,...,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,3
3434,CU,2016-08-13,79.7,-1.7108,6.1926,Aaron Judge,592450,542882,NaN,foul,...,55.4756,0.00,0.000,NaN,NaN,NaN,NaN,1.0,14,2
3435,FF,2016-08-13,93.2,-1.8476,6.0063,Aaron Judge,592450,542882,NaN,called_strike,...,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,1

In [189]:
# dropping duplicate for multiple columns
judge_df.filter(["home_team","away_team"]).drop_duplicates().shape[0]

37

In [193]:
# assign creating new column, text can be concatenated directly with +
judge_df.filter(["home_team","away_team"]).drop_duplicates().assign(home_away=judge_df["home_team"]+"-"+judge_df["away_team"])

     home_team away_team home_away
0          NYY       TOR   NYY-TOR
35         NYY        TB    NYY-TB
97         NYY        KC    NYY-KC
119        TOR       NYY   TOR-NYY
175        NYY       MIN   NYY-MIN
238        NYY       BAL   NYY-BAL
311         TB       NYY    TB-NYY
357        TEX       NYY   TEX-NYY
418        BAL       NYY   BAL-NYY
482        NYY       BOS   NYY-BOS
553        NYY       CLE   NYY-CLE
575        NYY       SEA   NYY-SEA
638        DET       NYY   DET-NYY
692        BOS       NYY   BOS-NYY
759        NYM       NYY   NYM-NYY
802        NYY       NYM   NYY-NYM
957        CLE       NYY   CLE-NYY
1014       NYY       DET   NYY-DET
1155       NYY       CIN   NYY-CIN
1174       SEA       NYY   SEA-NYY
1261       MIN       NYY   MIN-NYY
1404       NYY       MIL   NYY-MIL
1533       HOU       NYY   HOU-NYY
1585       CWS       NYY   CWS-NYY
1672       NYY       TEX   NYY-TEX
1724       NYY       LAA   NYY-LAA
1786       OAK       NYY   OAK-NYY
1870       LAA       NYY   LAA-NYY
2205       NYY       OAK   NYY-OAK
2358        KC       NYY    KC-NYY
2423       NYY       HOU   NYY-HOU
2505       CIN       NYY   CIN-NYY
2521       CHC       NYY   CHC-NYY
2757       PIT       NYY   PIT-NYY
2807       NYY       CWS   NYY-CWS
2862       NYY       STL   NYY-STL
3028       NYY       LAD   NYY-LAD

In [194]:
# calculation involving summarization inside assign
judge_df.filter(["pitch_type","release_pos_z"]).\
    assign(release_pos_z_mean = judge_df["release_pos_z"]/judge_df["release_pos_z"].mean())

     pitch_type  release_pos_z  release_pos_z_mean
0            FF         5.9240            1.001738
1            FF         5.9023            0.998068
2            FF         5.8346            0.986620
3            FT         4.6506            0.786408
4            FT         4.4696            0.755801
...         ...            ...                 ...
3431         CH         5.9113            0.999590
3432         CH         5.9349            1.003581
3433         CH         5.8656            0.991863
3434         CU         6.1926            1.047158
3435         FF         6.0063            1.015655

[3436 rows x 3 columns]

In [195]:
judge_df.filter(["pitch_type","release_pos_z"]).\
    assign(release_pos_z_mean = judge_df["release_pos_z"]/judge_df["release_pos_z"].mean(),
           release_pos_z_z = (judge_df["release_pos_z"]-judge_df["release_pos_z"].mean())/
           judge_df["release_pos_z"].std())

     pitch_type  release_pos_z  release_pos_z_mean  release_pos_z_z
0            FF         5.9240            1.001738         0.018828
1            FF         5.9023            0.998068        -0.020926
2            FF         5.8346            0.986620        -0.144952
3            FT         4.6506            0.786408        -2.314022
4            FT         4.4696            0.755801        -2.645612
...         ...            ...                 ...              ...
3431         CH         5.9113            0.999590        -0.004438
3432         CH         5.9349            1.003581         0.038796
3433         CH         5.8656            0.991863        -0.088160
3434         CU         6.1926            1.047158         0.510899
3435         FF         6.0063            1.015655         0.169600

[3436 rows x 4 columns]

In [196]:
judge_df.filter(["pitch_type","stand","plate_x"]).\
    query("pitch_type in ['FF','CH','SL']").\
        assign(plate_x_up = (judge_df['plate_x']+judge_df['plate_x'].mean())/judge_df['plate_x'].std())

     pitch_type stand  plate_x  plate_x_up
0            FF     R   1.0150    1.363730
1            FF     R   0.4546    0.746765
2            FF     R   0.0957    0.351638
5            CH     R   2.1445    2.607239
11           SL     R   0.7266    1.046220
...         ...   ...      ...         ...
3430         FF     R   1.1420    1.503549
3431         CH     R   0.7390    1.059872
3432         CH     R  -0.4190   -0.215014
3433         CH     R   0.5610    0.863905
3435         FF     R  -0.2730   -0.054277

[2267 rows x 4 columns]

In [201]:
# assign with regex on des
judge_df.filter(['pitch_type','des','plate_x']).\
    query('~(plate_x >1)').\
        assign(des_new=judge_df['des'].str.extract('(Aaron)'))

,pitch_type,des,plate_x,des_new
1,FF,,0.4546,NaN
2,FF,,0.0957,NaN
4,FT,,0.0764,NaN
7,FT,,0.4016,NaN
8,FT,Aaron Judge homers (52) on a fly ball to left ...,-0.4320,Aaron
...,...,...,...,...
3431,CH,,0.7390,NaN
3432,CH,Aaron Judge homers (1) on a fly ball to center...,-0.4190,Aaron
3433,CH,,0.5610,NaN
3434,CU,,-0.8030,NaN
3435,FF,,-0.2730,NaN

In [206]:
# # assign with regex on des for Aaron and Tony with out the query 
pattern = '(Aaron|Tony)'
judge_df.filter(['pitch_type','des','plate_x']).\
        assign(des_new=judge_df['des'].str.extract(pattern)).\
            query('des_new in ["Aaron","Tony"]').\
                groupby(['des_new']).\
                    size()

des_new
Aaron    772
Tony       1
dtype: int64

In [221]:
# assign with regex on sv_id, str.split 
judge_df.filter(["sv_id"]).assign(sv_id_1 = judge_df['sv_id'].str.split('_', expand=True).loc[:,0],
                                  sv_id_2 = judge_df['sv_id'].str.split('_', expand=True).loc[:,1])

              sv_id sv_id_1 sv_id_2
0     170930_192117  170930  192117
1     170930_192050  170930  192050
2     170930_192030  170930  192030
3     170930_183328  170930  183328
4     170930_183309  170930  183309
...             ...     ...     ...
3431  160813_144259  160813  144259
3432  160813_135833  160813  135833
3433  160813_135815  160813  135815
3434  160813_135752  160813  135752
3435  160813_135736  160813  135736

[3436 rows x 3 columns]

In [220]:
judge_df['sv_id'].str.split('_', expand=True).loc[:,0]

0       170930
1       170930
2       170930
3       170930
4       170930
         ...
3431    160813
3432    160813
3433    160813
3434    160813
3435    160813
Name: 0, Length: 3436, dtype: object

In [228]:
# agg -> {'name_of_col':'internal_operation'}
judge_df.agg({'pfx_x':'mean','pfx_z':'sum'})

pfx_x      -0.217605
pfx_z    2817.268033
dtype: float64

In [226]:
# agg 
judge_df.select_dtypes(include=["float64","int64"]).agg("mean")

release_speed             88.689543
release_pos_x             -0.932161
release_pos_z              5.913723
batter                592450.000000
pitcher               534602.221478
                          ...
babip_value                0.146184
iso_value                  0.258732
launch_speed_angle         3.372607
at_bat_number             38.343423
pitch_number               3.085565
Length: 63, dtype: float64

In [227]:
judge_df.select_dtypes(include=["float64","int64"]).agg(["mean","std"])

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
mean,88.689543,-0.932161,5.913723,592450.0,534602.221478,NaN,NaN,NaN,NaN,10.163476,...,54.510724,0.048696,0.066563,0.419534,1.0,0.146184,0.258732,3.372607,38.343423,3.085565
std,6.022328,1.869564,0.545856,0.0,73147.090850,NaN,NaN,NaN,NaN,4.025781,...,0.522216,0.177841,0.270434,0.595612,0.0,0.353519,0.796896,1.458740,23.238769,1.736235

In [244]:
def sum_div_std(x):
    return x.sum()/x.std()

print(sum_div_std(judge_df['release_pos_z']))

36780.93027862884

In [245]:
# the custom functions are represented without quotes
judge_df.select_dtypes(exclude="object").agg(['sum',sum_div_std])

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_42964\915899755.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  return x.sum()/x.std()

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
sum,301101.000000,-3164.687700,20077.088800,2.035658e+09,1.836893e+09,0.0,0.0,0.0,0.0,34505.000000,...,185063.907400,167.321000,228.709000,324.300000,773.0,113.000000,200.000000,2290.000000,131748.00000,10602.000000
sum_div_std,49997.444481,-1692.740861,36780.930279,inf,2.511232e+04,NaN,NaN,NaN,NaN,8571.006979,...,354381.862368,940.847092,845.709851,544.481768,inf,319.643333,250.973732,1569.848437,5669.31917,6106.317619

In [248]:
# lambda function
pd.DataFrame(judge_df.select_dtypes(exclude="object").agg(lambda x:np.sum(x)/np.std(x)))

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_42964\4227928543.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  pd.DataFrame(judge_df.select_dtypes(exclude="object").agg(lambda x:np.sum(x)/np.std(x)))

                               0
release_speed       5.000481e+04
release_pos_x      -1.692990e+03
release_pos_z       3.678635e+04
batter                       inf
pitcher             2.511598e+04
...                          ...
babip_value         3.198503e+02
iso_value           2.511362e+02
launch_speed_angle  1.571006e+03
at_bat_number       5.670144e+03
pitch_number        6.107206e+03

[63 rows x 1 columns]

In [257]:
# including both lambda function and sum inside agg
judge_df.select_dtypes(exclude='object').agg(["sum",lambda x:x.mean()/x.std()])

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_42964\4056885227.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  judge_df.select_dtypes(exclude='object').agg(["sum",lambda x:x.mean()/x.std()])

,release_speed,release_pos_x,release_pos_z,batter,pitcher,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
sum,301101.000000,-3164.687700,20077.088800,2.035658e+09,1.836893e+09,0.0,0.0,0.0,0.0,34505.000000,...,185063.907400,167.32100,228.709000,324.300000,773.0,113.00000,200.000000,2290.000000,131748.000000,10602.000000
<lambda>,14.726788,-0.498598,10.833853,inf,7.308592e+00,NaN,NaN,NaN,NaN,2.524597,...,104.383465,0.27382,0.246132,0.704375,inf,0.41351,0.324675,2.312001,1.649976,1.777159

In [260]:
# agg with character data
judge_df.select_dtypes(include='object').groupby(['pitch_type']).agg("count")

,game_date,player_name,events,description,des,game_type,stand,p_throws,home_team,away_team,type,bb_type,inning_topbot,sv_id
pitch_type,,,,,,,,,,,,,,
CH,340,340,77,340,340,340,340,340,340,340,340,40,340,337
CU,216,216,51,216,216,216,216,216,216,216,216,27,216,216
FC,158,158,37,158,158,158,158,158,158,158,158,20,158,157
FF,1166,1166,263,1166,1166,1166,1166,1166,1166,1166,1166,132,1166,1166
FS,46,46,14,46,46,46,46,46,46,46,46,6,46,46
FT,438,438,109,438,438,438,438,438,438,438,438,68,438,438
KC,101,101,18,101,101,101,101,101,101,101,101,7,101,101
KN,12,12,4,12,12,12,12,12,12,12,12,1,12,12
SI,158,158,34,158,158,158,158,158,158,158,158,16,158,158
SL,761,761,155,761,761,761,761,761,761,761,761,64,761,761

In [267]:
# use of reset index + custom function to find unique
find_unique = lambda x:pd.unique(x)
# with reset index
judge_df.filter(['pitch_type','home_team','away_team']).\
    groupby(['pitch_type']).\
        agg({'home_team':find_unique, 'away_team':find_unique}).\
            reset_index()

,pitch_type,home_team,away_team
0,CH,"[NYY, TOR, TB, TEX, BAL, DET, NYM, CLE, SEA, M...","[TOR, TB, KC, NYY, BAL, BOS, CLE, SEA, DET, CI..."
1,CU,"[NYY, TOR, TB, TEX, DET, BOS, NYM, CLE, SEA, C...","[TOR, TB, NYY, MIN, BOS, SEA, DET, CIN, TEX, L..."
2,FC,"[NYY, TOR, TB, TEX, BOS, CLE, CWS, OAK, LAA, C...","[TOR, NYY, BOS, CLE, SEA, TB, MIL, TEX, LAA, B..."
3,FF,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, CLE, SEA, NY..."
4,FS,"[NYY, BAL, LAA, CHC, TB, SEA]","[BAL, NYY, SEA, DET, MIL, HOU, STL]"
5,FT,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, CLE, SEA, NY..."
6,KC,"[NYY, TOR, BAL, BOS, CLE, HOU, CWS, OAK, TB, KC]","[KC, NYY, MIN, BAL, BOS, CLE, MIL, HOU, CWS, T..."
7,KN,[NYY],[TOR]
8,SI,"[NYY, TOR, TEX, BAL, NYM, CLE, SEA, MIN, BOS, ...","[KC, NYY, MIN, BOS, SEA, DET, TB, MIL, TOR, BA..."
9,SL,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, SEA, NYM, DE..."

In [268]:
# without reset index
judge_df.filter(['pitch_type','home_team','away_team']).\
    groupby(['pitch_type']).\
        agg({'home_team':find_unique, 'away_team':find_unique})

,home_team,away_team
pitch_type,,
CH,"[NYY, TOR, TB, TEX, BAL, DET, NYM, CLE, SEA, M...","[TOR, TB, KC, NYY, BAL, BOS, CLE, SEA, DET, CI..."
CU,"[NYY, TOR, TB, TEX, DET, BOS, NYM, CLE, SEA, C...","[TOR, TB, NYY, MIN, BOS, SEA, DET, CIN, TEX, L..."
FC,"[NYY, TOR, TB, TEX, BOS, CLE, CWS, OAK, LAA, C...","[TOR, NYY, BOS, CLE, SEA, TB, MIL, TEX, LAA, B..."
FF,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, CLE, SEA, NY..."
FS,"[NYY, BAL, LAA, CHC, TB, SEA]","[BAL, NYY, SEA, DET, MIL, HOU, STL]"
FT,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, CLE, SEA, NY..."
KC,"[NYY, TOR, BAL, BOS, CLE, HOU, CWS, OAK, TB, KC]","[KC, NYY, MIN, BAL, BOS, CLE, MIL, HOU, CWS, T..."
KN,[NYY],[TOR]
SI,"[NYY, TOR, TEX, BAL, NYM, CLE, SEA, MIN, BOS, ...","[KC, NYY, MIN, BOS, SEA, DET, TB, MIL, TOR, BA..."
SL,"[NYY, TOR, TB, TEX, BAL, DET, BOS, NYM, CLE, S...","[TOR, TB, KC, NYY, MIN, BAL, BOS, SEA, NYM, DE..."

In [270]:
# total unique count : nunique
judge_df.filter(['pitch_type','home_team','away_team']).\
    groupby(['pitch_type']).\
        agg(pd.Series.nunique)

            home_team  away_team
pitch_type
CH                 19         18
CU                 16         16
FC                 11         13
FF                 19         20
FS                  6          7
FT                 19         19
KC                 10         11
KN                  1          1
SI                 13         13
SL                 19         19

In [271]:
judge_df.filter(['pitch_type','home_team','away_team']).\
    groupby(['pitch_type']).\
        agg(pd.Series.nunique).\
            reset_index()

  pitch_type  home_team  away_team
0         CH         19         18
1         CU         16         16
2         FC         11         13
3         FF         19         20
4         FS          6          7
5         FT         19         19
6         KC         10         11
7         KN          1          1
8         SI         13         13
9         SL         19         19

In [234]:
# only for list
def sum_div_std(x):
    return sum(x)/np.std(x)
print(sum_div_std([10,20,30,40]))

8.94427190999916